<h2 mat-dialog-title>Update Showtime</h2>
<form [formGroup]="updateShowtimeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" type="date" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput formControlName="startTime" type="time" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ticket Price</mat-label>
      <input matInput formControlName="ticketPrice" type="number" required>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" [disabled]="updateShowtimeForm.invalid">Update</button>
  </mat-dialog-actions>
</form>
