<div class="max-w-4xl mx-auto p-6">

    <a href="addtime" 
    class="text-lg py-2 px-6 bg-blue-500 text-white rounded-full hover:bg-blue-700 transition mr-4">
   Add Theater
 </a>
  
    <h2 class="text-2xl font-bold mb-6 p-4">Showtime List</h2>
  
    <!-- Display error message if any -->
    <div *ngIf="errorMessage" class="text-red-500 mb-4">
      {{ errorMessage }}
    </div>
  
    <!-- Display list of showtimes -->
    <div *ngFor="let showtime of showtimes" class="border rounded p-4 mb-4 bg-white">
      <p class="text-lg">
        <strong>Date:</strong> {{ showtime.startDate }}
      </p>
      <p class="text-lg">
        <strong>Time:</strong> {{ showtime.startTime }}
      </p>
      <p class="text-lg">
        <strong>Ticket Price:</strong> ${{ showtime.ticketPrice }}
      </p>
      <p class="text-lg">
        <strong>Theater:</strong> {{ showtime.theater.name }} ({{ showtime.theater.location }})
      </p>
      <button (click)="deleteShowtime(showtime.id!)" 
              class="mt-2 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 transition">
        Delete Showtime
      </button>
    </div>
  </div>
  